<div class="container">
    <!-- Header Section -->
    <div class="header">
        <h3 class="section_header">Rank History</h3>
        <div class="newbutton-textbox">
          <div class="textbox-outer">
            <input type="text" [(ngModel)]="filterString" (keyup)="filterRanks()">
            <span>search string</span>
          </div>
          <div class="addnew-button">
            <button [routerLink]="['/search']" class="btn btn-primary">Search New</button>
          </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th >Search Item</th>
            <th >URL</th>
            <th >Search Engine</th>
            <th >Date</th>
            <th >Ranks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredRanks">
            <td>{{ item.searchString }}</td>
            <td>{{ item.url }}</td>
            <td>{{ item.searchEngine.engineName }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.positions }}</td>
          </tr>
        </tbody>
      </table>
</div>